* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: auto;
  text-align: center;
}

.logoImage {
  width: 400px;
  padding: 1rem;
}

.addTasks {
  margin-bottom: 1rem;
}

.new_todo {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: 300px;
}

.btn_add {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: 100px;
}

.tasks {
  padding: 1.5rem;
  display: inline-block;
  background-color: #f5f7f7;
  width: 500px;
  border-radius: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #dadee1;
}

.fa-times {
  cursor: pointer;
}
